@model IEnumerable<SportClubs1.Data.Gym>

<head>
    <link rel="stylesheet" href="~/css/GymsDetails.css" />
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="card-group">
        @foreach (var item in Model)
        {
        <div class="card">
                @if(item.Image != null)
                {
                    <img src="data:image /jpeg;base64,@Convert.ToBase64String(item.Image)">
                }
                else
                {
                    <img src="https://cdn-icons-png.flaticon.com/512/4054/4054617.png" alt="Default Image" />
                }
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Address</p>
                <a href=" @Url.Action("Details", "Gyms", new { id = item.Address })" button type="button" class="btn btn-primary">Детальніше</a>
            </div>
        </div>
    }
    </div>

</body>
