.image-overlay {
    position: ;
}

    .image-overlay img {
        width: 100%;
        height: auto;
        display: block;
    }

.text-block {
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Змінено колір тексту на чорний */
}

    .text-block h1 {
        font-size: 2.5em;
        margin: 0;
    }

    .text-block p {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .text-block a.btn {
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        border-radius: 5px;
    }
